:root {
  --color-primary: #B9FF66;
  --color-secondary: #7B5FEB;
  --color-bg: #191A23;
  --color-bg-card: #F3F3F3;

  --font-main: "Inter", sans-serif;
  --font-extra: "Space Grotesk", sans-serif;

  --border-radius-large: 20px;
  --border-radius-medium: 14px;
  --border-radius-small: 7px;

  --primary-color: #000;
  --secondary-color: #b9ff66;
  --bg-color: #fff;
  --card-bg-color: #f3f3f3;
  --text-color: #000;
  --font-family: 'Space Grotesk', sans-serif;

  --heading-font-size: 32px;
  --subheading-font-size: 18px;
  --paragraph-font-size: 16px;
  --button-padding: 20px 35px;
  
  font-family: "Roboto"; /* По умолчанию используем Inter */
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.container {
  max-width: 1200px; /* Ограничиваем максимальную ширину */
  margin: 0 auto; /* Центрируем контейнер */
  width: 100%;
}