h1, h2, h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.href-plain {
  text-decoration: none;
  color: #000;
}

.href-plain-w {
  text-decoration: none;
  color: #fff;
}

.href-button {
  display: inline-block;
  border-radius: var(--border-radius-medium);
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: var(--button-padding);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  text-align: center;
  text-decoration: none;
}

.href-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.separator {
  width: 1px;
  background-color: #fff;
  margin: 0 20px;
}

.about-you-href {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.linkedin-icon {
  position: absolute;
  right: 0;
  text-decoration: none;
  color: #b9ff66;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.review-dots
{
  position: absolute;
  bottom: -35px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.review-dots ul
{
  padding: 0;
  margin: 0;
}

.review-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.review-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.review-dots li button:hover,
.review-dots li button:focus
{
  outline: none;
}

.review-dots li button:hover:before,
.review-dots li button:focus:before
{
  opacity: 1;
}

.review-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.review-dots li.slick-active button:before
{
  opacity: .75;
  color: var(--color-primary);
}

.review-dots li button:hover:before
{
  opacity: 1;
}