@import "tailwindcss";

@theme {
  --color-primary: #BADE4F;
  --color-secondary: #83D216;
  --background-color-main: #1C1C1C;
  --background-color-alt: #242424;
  --background-color-panel: #383838;
  --background-color-panel-alt: #4D4D4D;
  --text-color-main: #F2F2F2;
  --text-color-muted: #868686;
  --text-color-light: #1C1C1C;
  --border-color-main: #F2F2F2;
  --border-color-alt: #4D4D4D;
  --radius-lg: 20px;
  --radius-md: 10px;
}

:root {
  --font-ibm: 'IBM Plex Sans', 'IBM Plex Sans Fallback';
  font-family: var(--font-ibm);
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: var(--text-color-main);
  background-color: var(--bg-color-main);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.hr-mute {
  border-color: var(--background-color-panel);
}

/* .bg-main {
  background-color: var(--color-bg-main);
}

.bg-alt {
  background-color: var(--color-bg-alt);
}

.panel {
  background-color: var(--color-panel);
}

.panel-alt {
  background-color: var(--color-panel-alt);
}

.border-main {
  border-color: #F2F2F2;
}

.text-main {
  color: var(--text-color-body);
}

.text-mute {
  color: var(--text-color-muted);
}

.text-light {
  color: var(--text-color-light);
} */

@media (max-width: 768px) { /* md */
  
  .text_mob_features{
    flex-wrap: wrap;
    display: flex;
    text-align: left;
  }
  .footer_text_contact{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
  }
  .text_hero_block{
    text-align: left;
    font-size: 16px;
  }
 
  
}
.bg-\[url\(\/images\/index\/cart-steps\.svg\)\] { 
  background-image: url('/images/index/cart-steps.svg');
}
.bg-\[url\(\/images\/index\/main-bg\.jpg\)\] { 
  background-image: url('/images/index/main-bg.jpg');
}
.bg-\[url\(\/images\/index\/trending_bottem\.svg\)\] { 
  background-image: url('/images/index/trending_bottem.svg');
}

