@import "tailwindcss";

:root {
  --color-primary: #B9FF66;
  --color-secondary: #7B5FEB;
  --color-bg: #191A23;
  --color-bg-card: #F3F3F3;

  --font-main: "Inter", sans-serif;
  --font-extra: "Space Grotesk", sans-serif;

  --border-radius-large: 20px;
  --border-radius-medium: 14px;
  --border-radius-small: 7px;

  --button-padding: 20px 35px;

  --text-color-secondary: "#696969";

  --primary-color: #000;
  --secondary-color: #b9ff66;
  --bg-color: #fff;
  --card-bg-color: #f3f3f3;
  --text-color: #000;
  --font-family: 'Space Grotesk', sans-serif;

  --heading-font-size: 32px;
  --subheading-font-size: 18px;
  --paragraph-font-size: 16px;
  
  font-family: "Roboto"; /* По умолчанию используем Inter */
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background: #232323;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cov_left{
  margin: 0 10px;
}

.cov_left::before {
  content: "<";
  font-size: 60px; 
  color: #BADE4F;
  display: inline-block;
}

.cov_left::after {
  content: ">";
  font-size: 60px; 
  color: #BADE4F;
  display: inline-block;
}


@media (min-width: 640px) { /* sm */
  .cov_left::before,
  .cov_left::after {
    font-size: 70px;
  }
  .container{
    max-width: 610px;
  }
}

@media (min-width: 768px) { /* md */
  .cov_left::before,
  .cov_left::after {
    font-size: 90px;
  }
  .container{
    max-width: 720px;
  }
  .text_mob_features{
    display: block;
  }
  
}

@media (min-width: 1024px) { /* lg */
  .cov_left::before,
  .cov_left::after {
    font-size: 120px;
  }
  .container{
    max-width: 980px;
  }
}


@media (min-width: 1280px) { /* xl */
  .cov_left::before,
  .cov_left::after {
    font-size: 165px; 
  }
  .container{
    max-width: 1200px;
  }
}
@media (max-width: 768px) { /* md */
  
  .text_mob_features{
    flex-wrap: wrap;
    display: flex;
    text-align: left;
  }
  .footer_text_contact{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
  }
  .text_hero_block{
    text-align: left;
    font-size: 16px;
  }
 
  
}
.bg-\[url\(\/images\/index\/cart-steps\.svg\)\] { 
  background-image: url('/images/index/cart-steps.svg');
}
.bg-\[url\(\/images\/index\/main-bg\.jpg\)\] { 
  background-image: url('/images/index/main-bg.jpg');
}
.bg-\[url\(\/images\/index\/trending_bottem\.svg\)\] { 
  background-image: url('/images/index/trending_bottem.svg');
}