@import "tailwindcss";

@theme {
  --color-primary: #BADE4F;
  --color-secondary: #83D216;
  --background-color-main: #1C1C1C;
  --background-color-alt: #242424;
  --background-color-panel: #383838;
  --background-color-panel-alt: #4D4D4D;
  --background-color-error: #DE5D4F;
  --text-color-main: #F2F2F2;
  --text-color-muted: #868686;
  --text-color-light: #1C1C1C;
  --text-color-error: #DE5D4F;
  --border-color-main: #F2F2F2;
  --border-color-alt: #4D4D4D;
  --border-color-error: #DE5D4F;
  --radius-lg: 20px;
  --radius-md: 10px;
}

:root {
  --font-ibm: 'IBM Plex Sans', 'IBM Plex Sans Fallback';
  --header-height: 120px;
  font-family: var(--font-ibm);
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hr-mute {
  border-color: var(--background-color-panel);
}

.cov_left{
  margin: 0 10px;
}

.cov_left::before {
  content: "<";
  font-size: 60px; 
  color: #BADE4F;
  display: inline-block;
}

.cov_left::after {
  content: ">";
  font-size: 60px; 
  color: #BADE4F;
  display: inline-block;
}

@media (min-width: 640px) { /* sm */
  .cov_left::before,
  .cov_left::after {
    font-size: 70px;
  }
  .container{
    max-width: 610px;
  }
}

@media (min-width: 768px) { /* md */
  .cov_left::before,
  .cov_left::after {
    font-size: 90px;
  }
  .container{
    max-width: 720px;
  }
  .text_mob_features{
    display: block;
  }
}

@media (min-width: 1024px) { /* lg */
  .cov_left::before,
  .cov_left::after {
    font-size: 120px;
  }
  .container{
    max-width: 980px;
  }
}

@media (min-width: 1280px) { /* xl */
  .cov_left::before,
  .cov_left::after {
    font-size: 165px; 
  }
  .container{
    max-width: 1200px;
  }
}

@media (max-width: 768px) { /* md */
  .text_mob_features{
    flex-wrap: wrap;
    display: flex;
    text-align: left;
  }
  .footer_text_contact{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
  }
  .text_hero_block{
    text-align: left;
    font-size: 16px;
  }
}
.bg-\[url\(\/images\/index\/cart-steps\.svg\)\] { 
  background-image: url('/images/index/cart-steps.svg');
}
.bg-\[url\(\/images\/index\/main-bg\.jpg\)\] { 
  background-image: url('/images/index/main-bg.jpg');
}
.bg-\[url\(\/images\/index\/trending_bottem\.svg\)\] { 
  background-image: url('/images/index/trending_bottem.svg');
}

